body {
    margin:0;
}

fieldset {
    color:green;
    border: 2px solid saddlebrown;
    display: flex;
}

legend {
    color:blue;
    text-align: center;
}

header {
    padding: 10px;
}

a {
    padding: 10px;
    margin:10px;
    color:#4a4a4a;
    font-size: 16px;
}